.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    background: #72de74;
    border-radius: 25px;
    flex-direction: column;
}
.quoteText{
    padding: 15px;
    font-size: 25px;
color:white;

}

.line{
    line-height: 1;
    color: black
}
.quoteAuthor{
    color :white;
    font-size: 20px;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    margin-left: 60%;
    justify-content: end;
}
.icon{
   padding: 5px;
    /* padding-top: 25px; */
    color: rgb(255, 245, 245);
    font-weight: 900;
    /* border: 1px solid white; */
    border-radius: 10px;
    width: auto;
    background: #000;
}